.dark-theme {
  .invoice-expired {
    .invoice {
      &__info {
        opacity: 0.7;
      }
    }

    & .history {
      border-color: rgba(216, 226, 240, 0.7);
    }
  }

  .historyFlag {
    .history {
      ul {
        transition: 0.4s;
        opacity: 1;
      }
    }
  }

  .history {
    border-color: var(--light-blue);
    backdrop-filter: blur(10px);
  }
}

.light-theme {
  .historyFlag {
    .history {
      ul {
        transition: 0.4s;
        opacity: 1;
      }
    }
  }

  .history {
    border-color: var(--light-grey);

    & li {
      background-color: var(--white);
    }

    & ul {
      background-color: var(--white);
    }
  }
}

.history {
  overflow-y: hidden;
  padding-top: 1rem;
  transition: all 0.4s;
  transform: translateY(-140.75rem);
  border: 1px solid;
  border-top: none;
  border-radius: 0 0 1rem 1rem;
  position: relative;
  z-index: 1;

  & li {
    display: block;
  }

  & ul {
    padding: 0 1rem 1rem;
    margin-bottom: 0;
    opacity: 0;
    transition: 0.1s;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    text-decoration: none;

    & span:last-child {
      white-space: nowrap;
    }
  }
}

@media (max-width: 460px) {
  .history {
    & ul {
      font-size: 14px;
    }
  }
}